body {
    background-color: lightblue;
}

h1 {
    color:blue
}


#boardHold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.cells {
    
    width: 40px;
    border: 1px solid green;

    display: flex;
    justify-content: center;
    
}

.cells2 {
    
    width: 40px;
    border: 1px solid green;

    display: flex;
    justify-content: center;
    
}

.cells3 {
    
    width: 40px;
    border: 1px solid green;

    display: flex;
    justify-content: center;
    
}

.cells4 {
    
    width: 40px;
    border: 1px solid green;

    display: flex;
    justify-content: center;
    
}



.board1Hold {
    font-size: 2.5rem;
    margin-left: 30px;
    margin-right: 100px;
    margin-bottom: 50px;
    width: 460px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.board2Hold {
    font-size: 2.5rem;
    margin-left: 30px;
    margin-right: 100px;
    margin-bottom: 50px;
    width: 460px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.cpuHold {
    font-size: 2.5rem;
    margin-left: 30px;
    margin-right: 100px;
    margin-bottom: 50px;
    width: 460px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.cpuPlayerHold  {
    font-size: 2.5rem;
    margin-left: 30px;
    margin-right: 100px;
    margin-bottom: 50px;
    width: 460px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


.legend {
    color: blue;
    font-size: 2rem;
}