body {
    background-color: lightblue;
}

h1 {
    color:blue
}


#boardHold {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.cells {

    border: 1px solid green;
}

.board1Hold {
    font-size: 2.5rem;
    margin-right: 100px;
    margin-bottom: 50px;
    width: 320px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.board2Hold {
    font-size: 2.5rem;
    margin-right: 100px;
    margin-bottom: 50px;
    width: 320px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
